/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    line-height: 1.6;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

nav h2{
    font-size: 28px;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #38bdf8;
}

/* Semua Section */
section{
    padding: 80px 10%;
}

/* Home */
.hero{
    text-align: center;
    padding: 80px 0;
}

.hero h1{
    font-size: 55px;
    margin-bottom: 15px;
}

.hero h3{
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero p{
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

/* Button */
.btn{
    display: inline-block;
    padding: 12px 30px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover{
    background: #0ea5e9;
    transform: translateY(-3px);
}

/* Judul Section */
section h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

/* About */
#about p{
    max-width: 700px;
    margin: auto;
    text-align: center;
}

/* Skill */
.skill-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    min-width: 180px;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

/* Project */
.project-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card{
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    max-width: 320px;
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-8px);
}

/* Contact */
#contact{
    text-align: center;
}

#contact p{
    margin: 10px 0;
}

/* Footer */
footer{
    text-align: center;
    padding: 25px;
    background: rgba(0,0,0,0.2);
}

/* ========================= */
/* RESPONSIVE HP & TABLET */
/* ========================= */

@media (max-width:768px){

    nav{
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero h1{
        font-size: 38px;
    }

    .hero h3{
        font-size: 22px;
    }

    .hero p{
        font-size: 15px;
    }

    section{
        padding: 60px 8%;
    }

    .card,
    .project-card{
        width: 100%;
        max-width: 100%;
    }

}